<mat-card>
  <mat-card-content>
    <section *ngIf="onEdit">
      <mat-form-field class="form-fiel">
        <input matInput placeholder="Primeiro Nome" [(ngModel)]="name" >
      </mat-form-field>
      <mat-form-field class="form-fiel">
        <input matInput placeholder="Idade" type="number" [(ngModel)]="age" >
      </mat-form-field >
      <button mat-mini-fab color="primary" (click)="save()">
        <mat-icon class="mat-18">check</mat-icon>
      </button>
    </section>
    <section *ngIf="!onEdit">
      {{cliente.name}} /     {{cliente.age}}
      <button mat-icon-button color="primary" (click)="edit()">
        <mat-icon >edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="remove()">
        <mat-icon >delete</mat-icon>
      </button>
    </section>
  </mat-card-content>
</mat-card>
